.root {
	-fx-font-family: "Calibri";
	-fx-font-size: 20px;
	-fx-font-weight: bold;
	-fx-background-image: url("/application/snowCSS.png");
	-fx-background-repeat: no-repeat; 
	-fx-background-size: stretch;
}

.label {
	-fx-text-fill: black;
}

.button {
	-fx-pref-width: 150px;
	-fx-pref-height: 30px;
	-fx-background-color: white;
	-fx-text-fill: black;
	-fx-font-size: 14px;
	-fx-font-family: "Calibri";
	-fx-border-color: grey;
	-fx-border-width: 1px;
	-fx-background-radius: 5px;
	-fx-border-radius: 5px;
	
}

.button:hover {
	-fx-background-color: lightskyblue;
	-fx-text-fill: #333333;
	-fx-border-color: white;
	-fx-border-width: 2px;
	
}
	
.button:pressed {
	-fx-background-color: #2e2d2d;
	-fx-text-fill: white;
	-fx-border-color: white;
	-fx-border-width: 2px;
	
}

.text-field {
	-fx-border-color: grey;
	-fx-border-width: 3px;
	-fx-border-radius: 25px;
	-fx-background-radius: 25px;
	-fx-pref-column-count: 25;
	
}

#title { 
	-fx-font-size: 30px;
	-fx-text-fill: black;
}

